* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 1000;
    font-size: 60px;
}

h2 {
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(53, 53, 53);
}

h3 {
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: rgb(53, 53, 53);
}

nav {
    background-color: rgb(26, 26, 26);
    display: flex;
}

.subtitle {
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgb(53, 53, 53);
}

.nav-container__title {
    margin-left: 20px;
    padding: 10px;
    display: flex;
}

.nav-container__title h1 {
    font-family: 'Work Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 1000;
    font-size: 30px;
}

.nav-container__title span {
    font-family: 'Work Sans', sans-serif;
    color: rgb(255, 47, 47);
    font-weight: 500;
    font-size: 30px;
}

.nav-container__links {
    display: flex;
}

.nav-container__links li {
    display: inline-block;
    padding: 16px;
}

.nav-container__links a {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 1000;
    font-size: 20px;
}

.article-container {
    display: flex;
}

section {
    max-width: 2000px;
    width: 100%;
    min-width: 320px;
    display: flex;
}

article {
    display: inline-block;
    width: 250px;
    margin: 20px;
}

.article-container {
    display: inline-block;
}

.sobre-mi {
    max-width: 600px;
    width: 100%;
    min-width: 300px;
    position: relative;
}

.skils {
    max-width: 450px;
    width: 100%;
    min-width: 320px;
}

.container-skil {
    display: inline-block;
}

.article-skils__container {
    margin: 3px;
    width: 400px;
}

.skil {
    padding: 30px;
}

.article-skils__container img {
    width: 70px;
}

.article-skils__container h3 {
    text-align: center;
}

.article-skils__container a {
    text-decoration: none;
    color: rgb(2, 2, 2);
}

.skil:hover {
    transition: .5s;
    background-color: rgba(161, 161, 161, 0.568);
}